
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
h3{
    border-bottom: 1px solid #202142;
    margin-bottom: 12px;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #202142;
    color: #fff;
    line-height: 1.6;
}
.container{
    /* center content horizontally */
    margin: auto; 
    max-width: 768ox;
    padding: 0 20px;
}

header{
    height: 80px;
    min-width: 670px;
    overflow:hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.card{
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 50px 5%;
    position: relative;
}
.card h2{
    font-size: 26px;
    font-family: 600;
    text-align: center;
}

.num-display{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px #eee solid;
    left: 0;
    top: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.3s;
    background: #ff6a95;
    color: #eee;
}

.rating-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    background: #deddde;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.rating-icon:hover,
.rating-icon.true,
.num-display{
    border-radius: 50%;
    background: #ff6a95;
    color: #fff;
}
.rating-icon:hover{
    border: 1.6px solid rgb(221, 218, 218);
}


.input-group{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 8px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
.card.reverse{
    background-color: rgba(0,0,0,4);
    color: white;

}

.close,
.edit{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.feedback-stats{
    color: #fff;
    margin:30px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    border: 1px soli #ccc;
    padding: 8px auto;
    border-radius: 8px;
}

input,textarea{
    font-family: 'Poppins', sans-serif;
    border: 1px solid lightgray;
    width: auto;
    text-align: start;
    padding-left: 2% ;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 22px;
}
textarea{
    resize: none;
}

.input-review{
    padding-top:15px ;
    height: 150px;
    vertical-align: top;
}
.input-name{
    height: 40px;
}
button {
    border: none;
    color:#fff;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: #deddde;
    margin-top:10px
}

button:hover{
    transform: scale(0.98);
    opacity: 0.9;
}
.btn-active{
    background-color: #202142;
}

.message{
    /* text-align: center; */
    color: rgb(124, 33, 124);
}

.star-rating{
    display: flex;
    justify-content:flex-start;
}

a{
    color: white;
    font-weight:bold ;

}


 a{
    text-decoration: none;
    margin-left: 25px;
 }

 .about-link{
    right: 30px;
    bottom: 30px;
    position: fixed;
 }
a:hover{
     color:#ff6a95;
     cursor: pointer;
 }

 .page-links {
     margin-top: -7px;
     display: flex;
     justify-content: center;
 }